body{
  font-family: 'Monda', sans-serif;
}

.container{
  margin: auto;
  width: 60%;
  border: 2px solid #49d1d6;
  padding: 10px;
  text-align: center;
  color: rgb(5,102,118);
}

h1, h2, h3, h4, h5, h6, p{
  padding: 10px;
  text-align:center;
}

.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.secao-cris{
  color: rgb(28,157,169);
  /* color: #49d1d6; */
  padding: 10px;
  /* padding-bottom: 150px; */
  text-align: center;
  /* border: 5px solid red; */
}

  .secao-chat input{
    /* text-transform: lowercase; */
  }

main{
  padding-bottom: 10px;
}
